@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Da click aqui para poder ver el <a asp-action="Login">LOGIN</a></p>
    <!--<p>Texto de prueba que me lleva a <a asp-action="RestorePassword">Restore Password</a> a ver que tal</p>-->
</div>
