@*
*@
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutWithoutNav.cshtml";
}

<style>
    .dashboard-container{
        max-width: 800px;
        margin: 50px auto;
    }

    .profile-picture {
        width: 85%;
        height: 70%;
        object-fit: cover;
    }

    .btn-primary {
        background-color: #1a3c6e;
        border-color: #1a3c6e;
    }

    .btn-primary:hover {
        background-color: #15305a;
        border-color: #15305a;
    }
</style>


<div class="container">
    <div class="dashboard-container">
        <div class="row">
            <div class="img-container position-relative col-4">
                <img class="profile-picture position-absolute top-50 start-50 translate-middle" src="/profile.jpg" />
            </div>
            <div class="student-info col-8">
                <div class="row mx-2">
                    <div class="col-12 mb-3">
                        <label>Nombre Completo</label>
                        <input class="form-control" type="text" placeholder="Juan Pérez" aria-label="Disabled" disabled>
                    </div>
                    <div class="col-8 mb-3">
                        <label>Numero control</label>
                        <input class="form-control" type="text" placeholder="20140950" aria-label="Disabled" disabled>
                    </div>
                    <div class="col-4 mb-3">
                        <label>Semestre</label>
                        <input class="form-control" type="text" placeholder="9no" aria-label="Disabled" disabled>
                    </div>
                    <div class="col-12 mb-3">
                        <label>Carrera</label>
                        <input class="form-control" type="text" placeholder="Ingeniería en Sistemas Computacionales" aria-label="Disabled" disabled>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="mb-1">Grupo Representativo</label>
                        <input class="form-control" type="text" placeholder="Basquetbol varonil" aria-label="Disabled" disabled>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex mt-3 justify-content-center">
                <button type="submit" class="btn btn-primary mx-3">Informacion adicional</button>
                <button type="submit" class="btn btn-primary mx-3">Cargar documentos</button>
            </div>
        </div>
    </div>
</div>